<!DOCTYPE html>
<html>
	<head>
        <title>post[er]</title>
        <h2>post[er]</h2>
	</head>
	<body>

    <table>
        <table>
        <form name="myform" action="/process" method="post" width="50%">
        <tr>
        <td>URL:</td><td><input type="text" size="60" name="url" value="https://migs.mastercard.com.au/vpcdps"/></td>
        </tr>
        <tr>
        <td>Post:</td><td><textarea cols="44" rows="15" name="post">vpc_Merchant=TESTCOMSOFCOM01&vpc_AccessCode=E7097862&vpc_CardExp=1305&vpc_Currency=AUD&vpc_Command=pay&vpc_CardNum=5123456789012346&vpc_CardSecurityCode=100&vpc_MerchTxnRef=RubyTest&vpc_Amount=100&vpc_Version=1&vpc_OrderInfo=RubyTest</textarea></td>
        </tr>
        <tr>
        <td>Timeout:</td><td><input type="text" size="4" style="text-align:right;" name="timeout" value="15"}"> second(s)</td>
        </tr>
        <tr>
        <td><input type="submit" value="Submit"></td>
        </tr>
        </form>
    </table>
<br/><br/><br/>
</body>
</html>
