<html>
    <head>
         <title>post[er]</title>
         <h2>post[er]</h2>
    </head>
    <body>
        So you asked me to send the below data to <b><%=@userUrl%></b> and wait no longer than <b><%=@userTo%></b> second(s):</br><br>
        <%=@userPost%>
        <br/><br/><br/>
        <h5>Here is the reply:</h5>
        <%=@response%>
        <br/><br/>
        <a href="/">Click here to start over.</a>
    </body>
</html>